<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Genesys Automation Suite" parallel="false">

    <test name="UI Tests">
        <classes>
            <class name="com.genesys.tests.PurchaseTest"/>
            <class name="com.genesys.tests.LoginErrorTest"/>
            <class name="com.genesys.tests.RichTextEditorTest"/>
            <class name="com.genesys.tests.IframeAndTabTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="com.genesys.tests.RestApiTest"/>
        </classes>
    </test>

</suite>