<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger - %msg%n"/>
        </Console>

        <RollingFile name="FileLogger"
                     fileName="logs/test.log"
                     filePattern="logs/test-%d{yyyy-MM-dd}.log">

            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %c - %msg%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>

        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="org.openqa.selenium" level="warn"/>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>
</Configuration>